bitops_servers:
 hosts:
   ${ip}
 vars:
   ansible_ssh_user: ${ansible_ssh_user}
   ansible_ssh_pass: ${ansible_ssh_pass}
   ssh_keyfile: ${ssh_keyfile}
   app_repo_name: ${app_repo_name}
   app_install_root: ${app_install_root}
   resource_identifier: ${resource_identifier}
   application_mount_target: ${application_mount_target}
   data_mount_target: ${data_mount_target}
